body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 377;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

.main {
  background-color: #f9f7f3;
}

.name {
  font-weight: bold;
  font-size: 24px;
  margin: 10px;
}

.description {
  margin: 10px;
}

.container_description {
  font-size: 18px;
  //display: flex;
  flex-wrap: wrap;
  padding: 25px;
  color: #232349;
  text-align: center;
  font-weight: semibold;
  border: 2px solid #324676dc;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;


}

.container_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: #f9f7f3;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div {
  display: flex;
  gap: 20px;
}

.pizza_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Равномерное распределение пространства */
  align-items: center;
  width: 250px; /* Ширина карточки */
  height: 450px; /* Фиксированная высота карточки */

  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #1d315e;
  border-radius: 10px;
  background-color: #494991;
  text-align: center;
  color: #f9f7f3;
}

.pizza_card img {
  width: 100%;
  height: auto;
}

.pizza_card h3 {
  margin: 0;
  padding: 10px 0;
}

.pizza-card p {
  margin: 10px 0;
  padding: 0 10px;
}

.pizza_card button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
}

.pizza_card button:hover {
  background-color: #e65500;
}
