body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}

.main {
  padding: 20px;
}
.container_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div {
  display: flex;
  gap: 20px;
}

.pizza_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Равномерное распределение пространства */
  align-items: center;
  width: 250px; /* Ширина карточки */
  height: 450px; /* Фиксированная высота карточки */

  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}

.pizza_card img {
  width: 100%;
  height: auto;
}

.pizza_card h3 {
  margin: 0;
  padding: 10px 0;
}

.pizza-card p {
  margin: 10px 0;
  padding: 0 10px;
}

.pizza_card button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  border-radius: 10px;
}

.pizza_card button:hover {
  background-color: #e65500;
}
